body.rip-image {
  background-image: url('https://i.imgur.com/QwWWRBE.jpg') !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0;
  #nm-text {
    font-family: 'Work Sans' !important;
    color: white;
  }
}
