@import "main";

.round {
  border-radius: 15px;
}

.projects-main-section {
  .row {
    margin: 0 !important;
    font-family: 'Work Sans';
    h1 {
      font-size: 6vw !important;
      a {
        color: #fff;
      }
    }

    h1:hover {
      animation: pulse 1s;
      -webkit-animation: pulse 1s;
    }
  }
}
