.design body {
  background: #000134 !important; }
  .design body .flexible {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw; }
    .design body .design-image {
      border-radius: 15px;
      margin-top: 15px;
      width: auto;
      max-width: 90%;
      margin-left: auto;
      object-fit: cover;
      margin-right: auto;
      margin-bottom: 15px;
      display: block;
      min-height: 100%;
      max-height: 100%;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none; }
      .design body .card {
        height: 100%; }
        @media screen and (max-width: 800px) {
          .design body h2 {
            display: none;   }
}
  .design body h2 {
    font-size: 2rem; }

.animation-target {
  -webkit-animation: animation 865ms linear both;
  animation: animation 865ms linear both; }

  @-webkit-keyframes animation {
    0% {
      -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1);
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1);   }
      2.92% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -135.218, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -135.218, 0, 0, 1);   }
        3.37% {
          -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -114.871, 0, 0, 1);
          transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -114.871, 0, 0, 1);   }
          3.47% {
            -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -110.596, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -110.596, 0, 0, 1);   }
            4.58% {
              -webkit-transform: matrix3d(2.061, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -68.65, 0, 0, 1);
              transform: matrix3d(2.061, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -68.65, 0, 0, 1);   }
              5.69% {
                -webkit-transform: matrix3d(2.321, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -36.551, 0, 0, 1);
                transform: matrix3d(2.321, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -36.551, 0, 0, 1);   }
                5.76% {
                  -webkit-transform: matrix3d(2.32, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -34.768, 0, 0, 1);
                  transform: matrix3d(2.32, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -34.768, 0, 0, 1);   }
                  7.41% {
                    -webkit-transform: matrix3d(1.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -3.804, 0, 0, 1);
                    transform: matrix3d(1.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -3.804, 0, 0, 1);   }
                    7.51% {
                      -webkit-transform: matrix3d(1.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -2.454, 0, 0, 1);
                      transform: matrix3d(1.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -2.454, 0, 0, 1);   }
                      7.88% {
                        -webkit-transform: matrix3d(1.771, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, 2.008, 0, 0, 1);
                        transform: matrix3d(1.771, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, 2.008, 0, 0, 1);   }
                        8.68% {
                          -webkit-transform: matrix3d(1.408, 0, 0, 0, 0, 1.181, 0, 0, 0, 0, 1, 0, 9.646, 0, 0, 1);
                          transform: matrix3d(1.408, 0, 0, 0, 0, 1.181, 0, 0, 0, 0, 1, 0, 9.646, 0, 0, 1);   }
                          10.03% {
                            -webkit-transform: matrix3d(0.982, 0, 0, 0, 0, 1.333, 0, 0, 0, 0, 1, 0, 16.853, 0, 0, 1);
                            transform: matrix3d(0.982, 0, 0, 0, 0, 1.333, 0, 0, 0, 0, 1, 0, 16.853, 0, 0, 1);   }
                            10.85% {
                              -webkit-transform: matrix3d(0.822, 0, 0, 0, 0, 1.398, 0, 0, 0, 0, 1, 0, 18.613, 0, 0, 1);
                              transform: matrix3d(0.822, 0, 0, 0, 0, 1.398, 0, 0, 0, 0, 1, 0, 18.613, 0, 0, 1);   }
                              11.53% {
                                -webkit-transform: matrix3d(0.732, 0, 0, 0, 0, 1.439, 0, 0, 0, 0, 1, 0, 18.992, 0, 0, 1);
                                transform: matrix3d(0.732, 0, 0, 0, 0, 1.439, 0, 0, 0, 0, 1, 0, 18.992, 0, 0, 1);   }
                                12.22% {
                                  -webkit-transform: matrix3d(0.672, 0, 0, 0, 0, 1.469, 0, 0, 0, 0, 1, 0, 18.618, 0, 0, 1);
                                  transform: matrix3d(0.672, 0, 0, 0, 0, 1.469, 0, 0, 0, 0, 1, 0, 18.618, 0, 0, 1);   }
                                  14.18% {
                                    -webkit-transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 15.054, 0, 0, 1);
                                    transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 15.054, 0, 0, 1);   }
                                    14.37% {
                                      -webkit-transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 14.604, 0, 0, 1);
                                      transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 14.604, 0, 0, 1);   }
                                      19.23% {
                                        -webkit-transform: matrix3d(0.737, 0, 0, 0, 0, 1.371, 0, 0, 0, 0, 1, 0, 3.855, 0, 0, 1);
                                        transform: matrix3d(0.737, 0, 0, 0, 0, 1.371, 0, 0, 0, 0, 1, 0, 3.855, 0, 0, 1);   }
                                        20.01% {
                                          -webkit-transform: matrix3d(0.763, 0, 0, 0, 0, 1.338, 0, 0, 0, 0, 1, 0, 2.724, 0, 0, 1);
                                          transform: matrix3d(0.763, 0, 0, 0, 0, 1.338, 0, 0, 0, 0, 1, 0, 2.724, 0, 0, 1);   }
                                          23.05% {
                                            -webkit-transform: matrix3d(0.856, 0, 0, 0, 0, 1.211, 0, 0, 0, 0, 1, 0, 0.036, 0, 0, 1);
                                            transform: matrix3d(0.856, 0, 0, 0, 0, 1.211, 0, 0, 0, 0, 1, 0, 0.036, 0, 0, 1);   }
                                            25.75% {
                                              -webkit-transform: matrix3d(0.923, 0, 0, 0, 0, 1.114, 0, 0, 0, 0, 1, 0, -0.709, 0, 0, 1);
                                              transform: matrix3d(0.923, 0, 0, 0, 0, 1.114, 0, 0, 0, 0, 1, 0, -0.709, 0, 0, 1);   }
                                              26.94% {
                                                -webkit-transform: matrix3d(0.947, 0, 0, 0, 0, 1.078, 0, 0, 0, 0, 1, 0, -0.76, 0, 0, 1);
                                                transform: matrix3d(0.947, 0, 0, 0, 0, 1.078, 0, 0, 0, 0, 1, 0, -0.76, 0, 0, 1);   }
                                                31.58% {
                                                  -webkit-transform: matrix3d(1.009, 0, 0, 0, 0, 0.987, 0, 0, 0, 0, 1, 0, -0.406, 0, 0, 1);
                                                  transform: matrix3d(1.009, 0, 0, 0, 0, 0.987, 0, 0, 0, 0, 1, 0, -0.406, 0, 0, 1);   }
                                                  31.73% {
                                                    -webkit-transform: matrix3d(1.01, 0, 0, 0, 0, 0.986, 0, 0, 0, 0, 1, 0, -0.392, 0, 0, 1);
                                                    transform: matrix3d(1.01, 0, 0, 0, 0, 0.986, 0, 0, 0, 0, 1, 0, -0.392, 0, 0, 1);   }
                                                    37.32% {
                                                      -webkit-transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, -0.03, 0, 0, 1);
                                                      transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, -0.03, 0, 0, 1);   }
                                                      38.15% {
                                                        -webkit-transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, -0.008, 0, 0, 1);
                                                        transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, -0.008, 0, 0, 1);   }
                                                        42.35% {
                                                          -webkit-transform: matrix3d(1.022, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0.03, 0, 0, 1);
                                                          transform: matrix3d(1.022, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0.03, 0, 0, 1);   }
                                                          48.9% {
                                                            -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0.009, 0, 0, 1);
                                                            transform: matrix3d(1.007, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0.009, 0, 0, 1);   }
                                                            57.77% {
                                                              -webkit-transform: matrix3d(0.998, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1);
                                                              transform: matrix3d(0.998, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1);   }
                                                              60.47% {
                                                                -webkit-transform: matrix3d(0.998, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1);
                                                                transform: matrix3d(0.998, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1);   }
                                                                69.36% {
                                                                  -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
                                                                  transform: matrix3d(0.999, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);   }
                                                                  83.61% {
                                                                    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
                                                                    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);   }
                                                                    100% {
                                                                      -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
                                                                      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);   }
}

@keyframes animation {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1);   }
    2.92% {
      -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -135.218, 0, 0, 1);
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -135.218, 0, 0, 1);   }
      3.37% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -114.871, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -114.871, 0, 0, 1);   }
        3.47% {
          -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -110.596, 0, 0, 1);
          transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -110.596, 0, 0, 1);   }
          4.58% {
            -webkit-transform: matrix3d(2.061, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -68.65, 0, 0, 1);
            transform: matrix3d(2.061, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -68.65, 0, 0, 1);   }
            5.69% {
              -webkit-transform: matrix3d(2.321, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -36.551, 0, 0, 1);
              transform: matrix3d(2.321, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -36.551, 0, 0, 1);   }
              5.76% {
                -webkit-transform: matrix3d(2.32, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -34.768, 0, 0, 1);
                transform: matrix3d(2.32, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -34.768, 0, 0, 1);   }
                7.41% {
                  -webkit-transform: matrix3d(1.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -3.804, 0, 0, 1);
                  transform: matrix3d(1.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -3.804, 0, 0, 1);   }
                  7.51% {
                    -webkit-transform: matrix3d(1.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -2.454, 0, 0, 1);
                    transform: matrix3d(1.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -2.454, 0, 0, 1);   }
                    7.88% {
                      -webkit-transform: matrix3d(1.771, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, 2.008, 0, 0, 1);
                      transform: matrix3d(1.771, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, 2.008, 0, 0, 1);   }
                      8.68% {
                        -webkit-transform: matrix3d(1.408, 0, 0, 0, 0, 1.181, 0, 0, 0, 0, 1, 0, 9.646, 0, 0, 1);
                        transform: matrix3d(1.408, 0, 0, 0, 0, 1.181, 0, 0, 0, 0, 1, 0, 9.646, 0, 0, 1);   }
                        10.03% {
                          -webkit-transform: matrix3d(0.982, 0, 0, 0, 0, 1.333, 0, 0, 0, 0, 1, 0, 16.853, 0, 0, 1);
                          transform: matrix3d(0.982, 0, 0, 0, 0, 1.333, 0, 0, 0, 0, 1, 0, 16.853, 0, 0, 1);   }
                          10.85% {
                            -webkit-transform: matrix3d(0.822, 0, 0, 0, 0, 1.398, 0, 0, 0, 0, 1, 0, 18.613, 0, 0, 1);
                            transform: matrix3d(0.822, 0, 0, 0, 0, 1.398, 0, 0, 0, 0, 1, 0, 18.613, 0, 0, 1);   }
                            11.53% {
                              -webkit-transform: matrix3d(0.732, 0, 0, 0, 0, 1.439, 0, 0, 0, 0, 1, 0, 18.992, 0, 0, 1);
                              transform: matrix3d(0.732, 0, 0, 0, 0, 1.439, 0, 0, 0, 0, 1, 0, 18.992, 0, 0, 1);   }
                              12.22% {
                                -webkit-transform: matrix3d(0.672, 0, 0, 0, 0, 1.469, 0, 0, 0, 0, 1, 0, 18.618, 0, 0, 1);
                                transform: matrix3d(0.672, 0, 0, 0, 0, 1.469, 0, 0, 0, 0, 1, 0, 18.618, 0, 0, 1);   }
                                14.18% {
                                  -webkit-transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 15.054, 0, 0, 1);
                                  transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 15.054, 0, 0, 1);   }
                                  14.37% {
                                    -webkit-transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 14.604, 0, 0, 1);
                                    transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 14.604, 0, 0, 1);   }
                                    19.23% {
                                      -webkit-transform: matrix3d(0.737, 0, 0, 0, 0, 1.371, 0, 0, 0, 0, 1, 0, 3.855, 0, 0, 1);
                                      transform: matrix3d(0.737, 0, 0, 0, 0, 1.371, 0, 0, 0, 0, 1, 0, 3.855, 0, 0, 1);   }
                                      20.01% {
                                        -webkit-transform: matrix3d(0.763, 0, 0, 0, 0, 1.338, 0, 0, 0, 0, 1, 0, 2.724, 0, 0, 1);
                                        transform: matrix3d(0.763, 0, 0, 0, 0, 1.338, 0, 0, 0, 0, 1, 0, 2.724, 0, 0, 1);   }
                                        23.05% {
                                          -webkit-transform: matrix3d(0.856, 0, 0, 0, 0, 1.211, 0, 0, 0, 0, 1, 0, 0.036, 0, 0, 1);
                                          transform: matrix3d(0.856, 0, 0, 0, 0, 1.211, 0, 0, 0, 0, 1, 0, 0.036, 0, 0, 1);   }
                                          25.75% {
                                            -webkit-transform: matrix3d(0.923, 0, 0, 0, 0, 1.114, 0, 0, 0, 0, 1, 0, -0.709, 0, 0, 1);
                                            transform: matrix3d(0.923, 0, 0, 0, 0, 1.114, 0, 0, 0, 0, 1, 0, -0.709, 0, 0, 1);   }
                                            26.94% {
                                              -webkit-transform: matrix3d(0.947, 0, 0, 0, 0, 1.078, 0, 0, 0, 0, 1, 0, -0.76, 0, 0, 1);
                                              transform: matrix3d(0.947, 0, 0, 0, 0, 1.078, 0, 0, 0, 0, 1, 0, -0.76, 0, 0, 1);   }
                                              31.58% {
                                                -webkit-transform: matrix3d(1.009, 0, 0, 0, 0, 0.987, 0, 0, 0, 0, 1, 0, -0.406, 0, 0, 1);
                                                transform: matrix3d(1.009, 0, 0, 0, 0, 0.987, 0, 0, 0, 0, 1, 0, -0.406, 0, 0, 1);   }
                                                31.73% {
                                                  -webkit-transform: matrix3d(1.01, 0, 0, 0, 0, 0.986, 0, 0, 0, 0, 1, 0, -0.392, 0, 0, 1);
                                                  transform: matrix3d(1.01, 0, 0, 0, 0, 0.986, 0, 0, 0, 0, 1, 0, -0.392, 0, 0, 1);   }
                                                  37.32% {
                                                    -webkit-transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, -0.03, 0, 0, 1);
                                                    transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, -0.03, 0, 0, 1);   }
                                                    38.15% {
                                                      -webkit-transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, -0.008, 0, 0, 1);
                                                      transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, -0.008, 0, 0, 1);   }
                                                      42.35% {
                                                        -webkit-transform: matrix3d(1.022, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0.03, 0, 0, 1);
                                                        transform: matrix3d(1.022, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0.03, 0, 0, 1);   }
                                                        48.9% {
                                                          -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0.009, 0, 0, 1);
                                                          transform: matrix3d(1.007, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0.009, 0, 0, 1);   }
                                                          57.77% {
                                                            -webkit-transform: matrix3d(0.998, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1);
                                                            transform: matrix3d(0.998, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1);   }
                                                            60.47% {
                                                              -webkit-transform: matrix3d(0.998, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1);
                                                              transform: matrix3d(0.998, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1);   }
                                                              69.36% {
                                                                -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
                                                                transform: matrix3d(0.999, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);   }
                                                                83.61% {
                                                                  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
                                                                  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);   }
                                                                  100% {
                                                                    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
                                                                    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);   }
}



body.rip-image {
  background-image: url('https://i.imgur.com/QwWWRBE.jpg') !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0; }
  body.rip-image #nm-text {
    font-family: 'Work Sans' !important;
    color: white; }



.round {
  border-radius: 15px; }

  .project .row {
    margin: 0px 15px; }

.projects-main-section .row {
  margin: 0 !important;
  font-family: 'Work Sans'; }
  .projects-main-section .row h1 {
    font-size: 6vw !important; }
    .projects-main-section .row h1 a {
      color: #fff; }
  .projects-main-section .row h1:hover {
    animation: pulse 1s;
    -webkit-animation: pulse 1s; }

.tg td, .tg th {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px 5px;
  border-style: solid;
  border-width: 0;
  overflow: hidden;
  word-break: normal;
  border-color: none; }

  .center-margin, .tg, .tg th {
    margin: 0 auto; }

    #txt-nm-div, .mdiv {
      left: 50%;
      transform: translate(-50%, -50%); }

      body, html {
        background: #f12711;
        background: -webkit-linear-gradient(to right, #f5af19, #f12711);
        background: linear-gradient(to right, #f5af19, #f12711);
        max-width: 100%;
        overflow-x: hidden; }

        h1 {
          text-align: center; }

          .tg .tg-0lax, .tg .tg-s268 {
            text-align: left; }

            .page-footer {
              background: #000134 !important; }

              .footer-copyright {
                background: #000023 !important; }

                body {
                  display: flex;
                  min-height: 100vh;
                  flex-direction: column; }

                  .tg {
                    border-collapse: collapse;
                    border-spacing: 0; }

                    .tg th {
                      font-weight: 400; }

                      #contact-form, #nm-text {
                        font-family: 'Work Sans';
                        font-weight: lighter; }

                        .tg .tg-0lax {
                          vertical-align: top; }

                          #contact-form, #nm-text, .center-text, .section-icon {
                            text-align: center; }

                            .companies {
                              height: 22%; }

                              .company {
                                height: 100%; }

                                .height-row-adj {
                                  width: 100%;
                                  display: block;
                                  margin: 0 auto; }

                                  .side-margin {
                                    margin-left: 8% !important;
                                    margin-right: 8% !important;
                                    max-width: 84%; }

                                    .mdiv {
                                      position: absolute;
                                      top: 50%; }

                                      @media screen and (min-width:991px) {
                                        .companies {
                                          width: 66%;   }
}

@media screen and (max-width:990px) {
  .div-2 {
    margin-top: 600px;   }
    tbody .main {
      width: 100vw;   }
      tr {
        padding: 0;   }
        .roll-cell {
          width: 80vw;
          margin-left: 10vw !important;   }
}

@media screen and (max-width:650px) {
  .pji {
    font-size: 5vw;   }
}

@media screen and (min-width:651px) {
  .pji {
    font-size: 3vw;   }
}

#contact-form {
  margin-left: 10vw;
  width: 80vw;
  color: #fff; }

  .big-boy-icons {
    font-size: 25px; }

    .big {
      width: 100%;
      height: auto;
      min-height: 200px; }

      .section-icon {
        margin: 0 auto;
        font-size: 8rem; }

        .scrollable {
          position: relative;
          width: 100%;
          height: 100vh; }

          .logo {
            height: 100px;
            width: 100px; }

            .center-text {
              width: 100%; }

              #txt-nm-div {
                width: 100%;
                position: absolute;
                color: #fff;
                top: 70%; }

                tr {
                  padding: 0 !important; }

                  .header-text {
                    font-family: 'Titillium Web';
                    margin-left: 10%;
                    margin-right: 10%; }

                    table, td {
                      margin: 0 auto; }

                      table {
                        width: 66%;
                        height: 40vh; }

                        td {
                          min-width: 25%;
                          border-radius: 20px;
                          background: #000;
                          font-size: 4rem;
                          text-align: center !important; }

                          .backdrop {
                            background-color: #ff5400; }

                            #nav, #nav-mobile {
                              background: #000134; }

                              h4 {
                                font-size: 5rem; }

                                .light-text {
                                  font-family: 'Work Sans'; }

                                  #nav-logo {
                                    margin-top: 10px; }

                                    #nav-mobile {
                                      color: #fff !important; }

                                      #headerItemNav {
                                        height: 80px;
                                        width: 100%; }

                                        #nav-header {
                                          display: block;
                                          margin: 0 auto !important; }

                                          .divider, .transparent {
                                            background: 0 0;
                                            box-shadow: none;
                                            -moz-box-shadow: none;
                                            -webkit-box-shadow: none; }

                                            .divider {
                                              width: 2% !important; }

                                              .fixed {
                                                position: fixed;
                                                z-index: 999; }

                                                .decent-padding {
                                                  padding: 20px; }

                                                  .corner-big {
                                                    border-radius: 15px; }

                                                    .center-block {
                                                      display: block;
                                                      margin: 0 auto; }

                                                      .card--content {
                                                        background-color: white;
                                                        min-width: 200px !important;
                                                        margin: 10px;
                                                        border-radius: 15px; }

                                                        .error-msg {
                                                          font-size: 20px;
                                                          font-weight: 800;
                                                          font-family: 'Work Sans';
                                                          border-radius: 5px; }

                                                          .blogs {
                                                            min-width: 100% !important;
                                                            min-height: 200px !important;
                                                            display: flex;
                                                            overflow-x: auto;
                                                            margin: 0px !important;
                                                            box-shadow: none; }

                                                            #loginFormBody {
                                                              background: #833ab4;
                                                              background: -webkit-linear-gradient(to left, #fcb045, #fd1d1d, #833ab4);
                                                              background: linear-gradient(to left, #fcb045, #fd1d1d 50%, #833ab4); }
                                                              #loginFormBody #add-post {
                                                                width: 80%; }
                                                                #loginFormBody #add-post .card {
                                                                  height: 300px;
                                                                  border-radius: 30px; }
                                                                  #loginFormBody #add-post .card #post-submit {
                                                                    color: #000134; }
                                                                    #loginFormBody #add-post .card textarea {
                                                                      outline: none;
                                                                      resize: none;
                                                                      -webkit-box-shadow: none;
                                                                      -moz-box-shadow: none;
                                                                      box-shadow: none; }
                                                              #loginFormBody #edit-post {
                                                                width: 80%; }
                                                                #loginFormBody #new-post {
                                                                  width: 90%;
                                                                  margin-left: 5%;
                                                                  margin-right: 5%;
                                                                  border: none;
                                                                  height: 175px; }
                                                                  #loginFormBody #new-title {
                                                                    width: 90%;
                                                                    margin-left: 5%;
                                                                    margin-right: 5%;
                                                                    border: none; }

.blackandblue {
  background: #000134 !important; }

  .ultralight {
    font-family: 'Work Sans';
    font-weight: lighter; }

    .light {
      font-family: 'Work Sans';
      font-weight: light; }

      #projectTitle {
        font-size: 2.7rem; }

        #login-form {
          width: 80%;
          margin-left: 10%; }
          #login-form h1 {
            font-family: 'Work Sans';
            font-weight: lighter; }
            #login-form .input-field {
              background: white;
              border-radius: 10px; }
              #login-form .input-field input {
                border-bottom: none !important;
                font-family: 'Work Sans';
                font-weight: light;
                margin: 0px; }
                #login-form .input-field label {
                  display: none; }

html {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }
