<!doctype html>
<html>
  <head>
    <meta name="theme-color" content="#000134">
    <title>Harris Beg | {{name}}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="{{ description }}"/>
        <meta property="og:site_name" content="Harris Beg's Portfolio"/>
        <meta property="og:title" content="{{ name }}"/>
        <meta property="og:description" content = "{{ description }}"/>
        <meta property="og:type" content="portfolio"/>
        {% assets "scss_all" %}
          <link rel="stylesheet" href="{{ url_for('static', filename='generated/all.css') }}" type="text/css" />
  			{% endassets %}
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:100" rel="stylesheet"/>
  </head>
  <body class="rip-image" height="100%">
    <div class="mdiv">
    <h3 id="nm-text" class="animated fadeInUp">Why does everyone want to <a href="javascript:history.back()">go back</a> to Jakku?</h3>
    </div>
  </body>
</html>
