{% extends "structure.html" %}
{% block content %}
<div class="big project">

    <div class="row blackandblue round decent-padding">
      <h1 class="ultralight white-text">About Me</h1>
      <p class="flowtext white-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      <h2 class="white-text light"><span class="counter">6</span> Past Jobs</h2>
      <h2 class="white-text light"><span class="counter">1</span> Patent</h2>
      </div>
      <div class="vertical-div-small"></div>
      


  </div>
{% endblock %}
