{% extends "structure.html" %}
{% block content %}
<div class="big project">

    <div class="row background-theme round decent-padding">
      <h1 class="ultralight black-text">About Me</h1>
      <p class="flowtext black-text">
        You know, you looking at this flashy website may make you think that the gleam is hiding some insecurities. And I'll be real - there are some weaknesses amidst my abilities, but here's the thing: the skills that I indignantly wave around today were once weaknesses too.
        <br>
        <br>
        It may seem like this is about to turn into a wildly cliche story about Computer Science, but it isn't. I was just the same as anyone else when I first got into the field - excited, frustrated, and, most of all, fearful of competition. As time went on, though, despite the never-ending frustrations involved with the various frameworks and programming languages I explored, I began seeing my projects actually take a toll. I started off small with GitHub sites for friends, but here I am today, able to construct sites from Django, Laravel, Flask, you name it.
        <br>
        <br>
        It's not limited to websites either. skinCAM, my first (and currently only) app on the Play Store tested my knowledge in the realm of Python (via the backend structure) as well as my app development ability.
        <br>
        <br>
        You see, I could go on and on. And, at this point, you may remark, "Well, do it then." Simply, that is an impossible request. Why? Because my list of skills continues to grow by the week - nay, by the day, as long as I continue to tinker around as I have.
        
        </p>
      <h2 class="black-text light"><span class="counter">6</span> Past Jobs</h2>
      <h2 class="black-text light"><span class="counter">1</span> Patent</h2>
      </div>
      <div class="vertical-div-small"></div>
      


  </div>
{% endblock %}
