{% extends "structure.html" %}
{% block content %}

  <div class="big">
    {% for item in works %}
        <div class="row flexible">
          <div class="col s6 white card animation-target">
            <div class="card-content">
              <h2>
                {{works[loop.index-1]}}
                </h2>
                <p class="flow-text">
                  {{workdescriptions[loop.index-1]}}
                  </p>
              </div>
            </div>

          <div class="col s6 transparent card">
            <div class="card-image">
              <amp-img src="{{ url_for('static', filename='assets/designs/designs'+(loop.index)|string+'.png') }}" class="design-image z-depth-2" height="150" width="150" layout="fixed"/>
              </div>
        </div>
        </div>



    {% endfor %}
    </div>
  {% endblock %}
