<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">
                  <img src="{{ url_for('static', filename='assets/aurebesh.png') }}" class="center" height="40"/>

                </h5>
                <p class="grey-text text-lighten-4">"We seem to be made to suffer. It’s our lot in life." — C-3PO</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contact</h5>
                <ul class="big-boy-icons">
                  <li><a class="white-text" href="#!"><i class="fab fa-linkedin"></i>  LinkedIn</a></li>
                  <li><a class="white-text" href="#!"><i class="fas fa-envelope-square"></i>  Mail</a></li>
                  <li><a class="white-text" href="#!"><i class="fab fa-twitter-square"></i>  Twitter</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
              <img src="{{ url_for('static', filename='assets/typewriter.gif') }}" class="center" height="30"/>
            </div>
          </div>
        </footer>
