{#
<section class="card blogs blackandblue" id="blogs">
  {% for title in titles | reverse %}
  <div class="card--content black-text center modal-trigger" href="#{{strippedtitles[loop.index-1]}}" data-title="{{title}}" data-str-title="{{strippedtitles[loop.index-1]}}" data-message="{{messages[titles|length - loop.index] }}" data-date="{{dates[titles|length - loop.index] }}">
    <h3>{{title | truncate(10)}}</h3>
    <p>
      {{messages[titles|length - loop.index] | truncate(30)}}
      </p>
      <h6>
        {{dates[titles|length - loop.index]}}
        </h6>

    </div>
    <div id="{{strippedtitles[titles|length - loop.index]}}" class="modal"></div>

  {% endfor %}

</section>
#}

<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="100%" viewBox="0 0 1920 669" enable-background="new 0 0 1920 669" xml:space="preserve">
<linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="-1128" y1="72" x2="792" y2="72" gradientTransform="matrix(1 0 0 1 1128 263.5)">
	<stop  offset="0" style="stop-color:#DC2630"/>
	<stop  offset="1" style="stop-color:#7B4395"/>
</linearGradient>
<path fill="url(#SVGID_2_)" d="M1920,670H0V196c0,0,360.75,202.5,773.25,201.25S1560.5,3.5,1920,1"/>
</svg>
{#
<section class="background-theme black-text" id="footer-beginning">
  <code>
    ** ABOUT ME **<br/>
    So what about me, then? Well, for starters, I'm a high-schooler (at time of writing) who has indulged in web development primarily, although my focus also diverts to other topics in accordance with what I'm working on. Sometimes, the ideas I come up with are spontaneous, but the strategy works (so far). In addition to programming, I love graphic design, hiking, and watching Star Wars.
  </code>
</section>
#}
<section class="info-bottom">
  <div class="row">
      <div class="col s9">
        <p class="theme-color"><b>harrisbeg.com:<span contenteditable="true"> Made with Flask 💪 [Last edited: 2/26/2019]</span></b>
      </div>
      <div class="col s3" style="margin-top: 10px;">
          <a href="https://linkedin.com/in/harrisbegcca/" class="footer-icon"><i class="fab fa-linkedin right theme-color"></i></a>
          <a href="https://github.com/harrisbegca/" class="footer-icon"><i class="fab fa-github right theme-color"></i></a>
        </p>
      </div>
      <div class="gradient-divider"></div>
  </div>
</section>

<footer class="page-footer background-theme">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <code class="black-text">
                    <b>
                    while (true) { <br/>
                    <blockquote>
                      try();<br>
                      fail();<br/>
                      learn(Something new)<br/>
                    </blockquote>
                  }<br/>
                    </b>
                    java compilation error: 'new' is a reserved keyword
                </code>
              </div>
              <div class="col l4 offset-l2 s12">
                  <code class="black-text">Contact(<span class="black-text"><b>this</b></span>):</code>
                <ul class="big-boy-icons medium-thicc">
                  <li><a href="https://linkedin.com/in/harrisbegcca/" class="black-text"><i class="black-text fab fa-linkedin"></i>  LinkedIn</a></li>
                  <li><a href="mailto:harris@harrisbeg.com" class="black-text"><i class="black-text fas fa-envelope-square"></i>  Mail</a></li>
                  <li><a href="https://twitter.com/harrisb19" class="black-text"><i class="black-text fab fa-twitter-square"></i>  Twitter</a></li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
