{#
<section class="card blogs blackandblue" id="blogs">
  {% for title in titles | reverse %}
  <div class="card--content black-text center modal-trigger" href="#{{strippedtitles[loop.index-1]}}" data-title="{{title}}" data-str-title="{{strippedtitles[loop.index-1]}}" data-message="{{messages[titles|length - loop.index] }}" data-date="{{dates[titles|length - loop.index] }}">
    <h3>{{title | truncate(10)}}</h3>
    <p>
      {{messages[titles|length - loop.index] | truncate(30)}}
      </p>
      <h6>
        {{dates[titles|length - loop.index]}}
        </h6>

    </div>
    <div id="{{strippedtitles[titles|length - loop.index]}}" class="modal"></div>

  {% endfor %}

</section>
#}
<section class="black green-text padding-top-bottom">
  <code>
    ** ABOUT ME **<br/>
    So what about me, then? Well, for starters, I'm a high-schooler (at time of writing) who has indulged in web development primarily, although my focus also diverts to other topics in accordance with what I'm working on. Sometimes, the ideas I come up with are spontaneous, but the strategy works (so far). In addition to programming, I love graphic design, hiking, and watching Star Wars.
  </code>
</section>
<section class="info-bottom" >
  <div>
    <p class="green-text"><b>harrisbeg --help:</b> This site is currently under construction. Powered by <a>Flask</a> 
      <a href="https://linkedin.com/in/harrisbegcca/"><i class="fab fa-linkedin right"></i></a>
      <a href="https://github.com/harrisbegca/"><i class="fab fa-github right"></i></a>
    </p>
  </div>
</section>

<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <code class="green-text">
                    while (true) { <br/>
                    <blockquote>
                      try();<br>
                      fail();<br/>
                      learn(Something new)<br/>
                    </blockquote>
                  }<br/>
                    java compilation error: 'new' is a reserved keyword
                </code>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contact</h5>
                <ul class="big-boy-icons light">

                  <li><a class="white-text" href="https://linkedin.com/in/harrisbegcca/"><i class="fab fa-linkedin"></i>  LinkedIn</a></li>
                  <li><a class="white-text" href="mailto:harris@harrisbeg.com"><i class="fas fa-envelope-square"></i>  Mail</a></li>
                  <li><a class="white-text" href="https://twitter.com/harrisb19"><i class="fab fa-twitter-square"></i>  Twitter</a></li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
