{% extends "structure.html" %}
{% from "partials/_functions.html" import image with context %}
{% block content %}
		<div class="container" style="margin-top: 70px">
            <div id="about">

                    {{ image(src="https://media.licdn.com/dms/image/C5603AQGU_OYB_qsooQ/profile-displayphoto-shrink_200_200/0?e=1563408000&v=beta&t=o_VK9yzF6xu1D7nxojwzNMWf_QPPhKuIwpIUxrzaxc8",id="about-image") }}
                    <h1 class="white-text wow animated bounceInUp rellax">Hey, I'm Harris!</h1>
                    <h4 class="white-text wow animated bounceInUp">
                        I'm a software developer from Canyon Crest Academy who does everything from
                        develop machine learning for medical solutions, develop websites (such as this one),
                        teach children, and work on apps. If you're on this site looking for my
                        extracurricular activities, you'll find that I've only listed my "personal" projects - for
                        achievements, feel free to <a href="mailto:harrisbegca@gmail.com">contact me</a>.
                    </h4>
                    <h1 class="white-text">What I specialize in</h1>
                    <h3>
                        <i class="devicon-javascript-plain tooltipped colored text-xl" data-position="top" data-tooltip="JS"></i>
                        <i class="devicon-python-plain tooltipped colored text-xl" data-position="top" data-tooltip="Python"></i>
                        <i class="devicon-swift-plain tooltipped colored text-xl" data-position="top" data-tooltip="Swift"></i>
                        <i class="devicon-java-plain tooltipped colored text-xl" data-position="top" data-tooltip="Java"></i>
                        <i class="devicon-css3-plain tooltipped colored text-xl" data-position="top" data-tooltip="CSS"></i>
                        <i class="devicon-sass-plain tooltipped colored text-xl" data-position="top" data-tooltip="SASS"></i>
                    </h3>
                    <h1 class="white-text wow animated bounceInUp">Projects</h1>
                    <table>
                        <tr>
                            <h3 class="white-text wow animated bounceInUp theme-color">skinCAM - Present</h3>
                            <h4 class="white-text wow animated bounceInUp">
                                A direct result of my imagination, skinCAM was spawned in an effort
                                to intertwine the advancing world of machine learning and artificial
                                intelligence in the realm of medical sciences - specifically, in this
                                case, dermatology. skinCAM is available on the Play Store and uses
                                a Convolutional Neural Network trained with 10 skin diseases to provide
                                results with ~95% accuracy.
                            </h4>
                            <h3 class="white-text wow animated bounceInUp theme-color">Grabify - Present</h3>
                            <h4 class="white-text wow animated bounceInUp">
                                Grabify is an IP-logging utility used by millions on a monthly basis.
                                As a co-developer of Grabify, I helped systematically connect the well-established
                                backend services to the user experience, pulling from the knowledge developed at MySocialHub.
                            </h4>
                            <h3 class="white-text wow animated bounceInUp theme-color">Hypercharged - Present</h3>
                            <h4 class="white-text wow animated bounceInUp">
                                Built the entirety of <a href="http://hypercharged.herokuapp.com">hypercharged's website</a>,
                                a site boasting a wide selection of car photos, with a shop in the making in order to
                                make Hypercharged more than just a simple side project.
                            </h4>
                            <h3 class="white-text wow animated bounceInUp theme-color">Breast Cancer Pathway Analysis - Sep. 2018 to Jun. 1</h3>
                            <h4 class="white-text wow animated bounceInUp">
                                Using my experience with web scraping, I scraped the data from over
                                900 patients to generate a frequency chart of mutated genes within breast cancer,
                                under the supervision of Dr. Igor Tsigelny. With the scraped genes, several
                                gene "pathways" were elucidated with low P-values, including the ECM-Receptor interaction
                                with a P-value of 1E-12, thereby suggesting that the ECM-Receptor interaction may play
                                a role in breast cancer.
                            </h4>
                            <h3 class="white-text wow animated bounceInUp theme-color">MySocialHub - Present</h3>
                            <h4 class="white-text wow animated bounceInUp">
                                Assisted in the creation of the largest car community
                                social media platform on the web, known as MySocialHub. As a developer
                                for MySocialHub, I frequently interacted with the MVC Laravel structure, Git workflow,
                                and frontend components that made the platform as popular as it is.
                            </h4>
                            <h3 class="white-text wow animated bounceInUp theme-color">For more projects, please see my GitHub.</h3>
                        </tr>
                    </table>
                    <h1 class="white-text wow animated bounceInUp">
                        All as a high-school student who only really started delving into CS in the 9th Grade.
                    </h1>
            </div>
        </div>
            {#
			<table class="responsive-table  animated bounce wow">
				<tbody class="main">
					<tr>
						<td class="roll-cell">
							<i class="fas fa-code theme-color"></i>
							<h4 class="important-txt  theme-color">Develop</h4>
                            <p class="theme-color subtext flow-text">With a wide variety of experiences under my belt, including frameworks such as Flask, Django, and Laravel for website development and several programming languages, programming is a core skill of mine.</p>
                        </td>
						<td class="divider"></td>

						<td class=" roll-cell">
							<i class="fas fa-pencil-alt theme-color"></i>
							<h4 class="important-txt theme-color">Design</h4>
                            <p class="theme-color subtext flow-text">Alongside developing, I take great interest in the art of graphic design, as may be apparent with this website. This helps me create responsive and elegant UI/UX interfaces for all of the projects I work on.</p>
						</td>
						<td class="divider"></td>

						<td class=" roll-cell">
							<i class="fas fa-hammer theme-color"></i>
							<h4 class="important-txt  theme-color">Build</h4>
                            <p class="theme-color subtext flow-text">Although I don't plan on going into a field intimately involved with hardware, over the years, I have gathered knowledge about technical systems - both in computers and micro-controllers, like the Raspberry Pi.</p>
						</td>
					</tr>
				</tbody>
			</table>
			 #}

{% endblock %}
