{% extends "structure.html" %}
{% block content %}
		<div class="big " id="what-i-do">
			<div class="row">
			<h1 class="white-text header-text wow animated bounceInLeft">What I Do</h1>
		</div>
			<table class="responsive-table  animated bounce wow">
				<tbody class="main">
					<tr>
						<td class=" roll-cell">
							<i class="fas fa-code theme-color"></i>
							<h4 class="important-txt  theme-color">Develop</h4>
						</td>
						<td class="divider"></td>

						<td class=" roll-cell">
							<i class="fas fa-pencil-alt theme-color"></i>
							<h4 class="important-txt theme-color">Design</h4>
						</td>
						<td class="divider"></td>

						<td class=" roll-cell">
							<i class="fas fa-hammer theme-color"></i>
							<h4 class="important-txt  theme-color">Build</h4>

						</td>
					</tr>
				</tbody>
			</table>
			</div>

			<div class="big" id="experience">
				<h1 class="white-text header-text wow animated bounceInLeft center">Experience</h1>
				<table class="responsive-table  animated bounce wow">
				<tbody class="main">
					<tr>
						<td class=" roll-cell">
							<h4 class="important-txt  theme-color">Languages</h4>
							<h4 class="theme-color">
								<i class="devicon-python-plain tooltipped" data-position="top" data-tooltip="Python"></i>
								<i class="devicon-java-plain tooltipped" data-position="top" data-tooltip="Java"></i>
								<i class="devicon-javascript-plain tooltipped" data-position="top" data-tooltip="JS"></i>
								<i class="devicon-swift-plain tooltipped" data-position="top" data-tooltip="Swift"></i>
								<i class="devicon-css3-plain tooltipped" data-position="top" data-tooltip="CSS"></i>
								<i class="devicon-sass-original tooltipped" data-position="top" data-tooltip="SASS"></i>
								{# Not a language but oh well ^ #}
							</h4>

						</td>
						<td class="divider"></td>

						<td class=" roll-cell">
							<h4 class="important-txt  theme-color">Utilities</h4>
							<h4 class="theme-color">
								<i class="devicon-heroku-original tooltipped" data-position="top" data-tooltip="Heroku"></i>
								<i class="devicon-illustrator-line tooltipped" data-position="top" data-tooltip="Illustrator"></i>
								<i class="devicon-bitbucket-plain tooltipped" data-position="top" data-tooltip="BitBucket"></i>
								<i class="devicon-android-plain tooltipped" data-position="top" data-tooltip="Android Studio"></i>
								<i class="devicon-git-plain tooltipped" data-position="top" data-tooltip="git flow"></i>
								<i class="devicon-photoshop-line tooltipped" data-position="top" data-tooltip="Photoshop"></i>
							</h4>
						</td>
						<td class="divider"></td>
					</tr>
				</tbody>
			</table>
			</div>
			<div class="big side-margin">
				<div class="vertical-div-small">
					</div>
								<h1 class="white-text header-text wow animated bounceInLeft center">Past Work</h1>

				<div class="row companies" >
					<div class="col s4  company">
						<a href="{{url_for('projects_id',projectname='Grabify')}}">
							<img src="{{ url_for('static', filename='assets/grabify.png') }} "class="height-row-adj center tooltipped" data-position="top" data-tooltip="Grabify"/>
						</a>
					</div>
					<div class="col s4  company">
						<a href="http://www.technologicoders.weebly.com">
							<img src="{{ url_for('static', filename='assets/tc.png') }}" class="height-row-adj center tooltipped" data-position="top" data-tooltip="TechnologiCoders"/>
						</a>
					</div>
					<div class="col s4 company">
						<a href="{{url_for('projects_id',projectname='skinCAM')}}">
								<img src="{{ url_for('static', filename='assets/sc_app_icon.png') }}" class="height-row-adj center tooltipped" data-position="top" data-tooltip="skinCAM"/>
						</a>
					</div>
				</div>
				<div class="row companies big-margin " >
					<div class="col s4  company">
						<a href="{{url_for('projects_id',projectname='MSH')}}">
							<img src="{{ url_for('static', filename='assets/msh.png') }}" class="height-row-adj center tooltipped" data-position="top" data-tooltip="MySocialHub"/>
						</a>
					</div>
					<div class="col s4  company">
						<a href="{{url_for('projects_id',projectname='UCSD')}}">
							<img src="{{ url_for('static', filename='assets/cer.png') }}" class="height-row-adj center tooltipped" data-position="top" data-tooltip="UCSD Center for Energy Research" />
						</a>
					</div>
					<div class="col s4 company">
						<a href="{{url_for('projects_id',projectname='UCSD')}}">
							<img src="{{ url_for('static', filename='assets/mcc.png') }}" class="height-row-adj center tooltipped" data-position="top" data-tooltip="UCSD Moores Cancer Center"/>
						</a>
					</div>
				</div>

			</div>
{% endblock %}
