{% macro logo(width, height) %}
<svg version="1.1" id="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" style="height: {{ height }} !important; width: {{ width }} !important;" viewBox="0 0 1024 1024" enable-background="new 0 0 1024 1024" xml:space="preserve" class="logo rellax  animated fadeInUp" data-rellax-speed="2">
                    <rect display="none" fill-rule="evenodd" clip-rule="evenodd" width="1024" height="1024"/>
                    <linearGradient id="SVGID_69_" gradientUnits="userSpaceOnUse" x1="104.692" y1="713.8764" x2="839.1495" y2="289.8372">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#737373"/>
                    </linearGradient>
                    <path display="none" fill-rule="evenodd" clip-rule="evenodd" fill="url(#SVGID_69_)" d="M138.252,772.004v-520l175.487,228.8
                        l176.168-228.8H704.14c0,0,162.4-3.2,167.2,121.6s-89.6,132-89.6,132s103.2,20,104,116s-56.8,156.021-244.8,148.811
                        c-188-7.211-151.042,0-151.042,0L313.739,543.204L138.252,772.004z"/>
                    <linearGradient id="SVGID_69_" gradientUnits="userSpaceOnUse" x1="410.6136" y1="281.6837" x2="520.1081" y2="652.1652">
                        <stop  offset="0" style="stop-color:#FFFFFF"/>
                        <stop  offset="1" style="stop-color:#808080"/>
                    </linearGradient>
                    <path display="none" fill="url(#SVGID_69_)" d="M126.729,252.081v520l175.487-228.8l460.594,0.463c0,0,85.333-1.333,86,98
                        c0.667,99.333-158.667,102-158.667,102l-200.667-1.667l-65-93l-40.202,0.044l91.39,120.467l252.89,2.493
                        c0,0,168.254-13.671,172.254-155.004S770.143,501.744,770.143,501.744s90.828-7.425,89.414-130.713S743.479,251.215,584.144,252.146
                        s-105.76-0.065-105.76-0.065l-27.328,35.493l223.754-0.496c0,0,152.667-15.333,152,82c-0.667,97.333-84.667,106-84.667,106
                        l-439.927,5.804L126.729,252.081z"></path>
                    <polygon display="none" fill="#FFFFFF" points="126.729,252.081 126.729,772.081 302.216,543.281 754.48,543.736 754.48,477.077
                        302.216,480.881 "></polygon>
                    <linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="63.5412" y1="379.0188" x2="938.8353" y2="380.1953">
                        <stop  offset="0" style="stop-color:#DC2530"/>
                        <stop  offset="1" style="stop-color:#7B4396"/>
                    </linearGradient>
                    <circle fill="url(#SVGID_4_)" cx="732.977" cy="379.919" r="128"/>
                    <linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="63.2224" y1="616.1638" x2="938.5165" y2="617.3403">
                        <stop  offset="0" style="stop-color:#DC2530"/>
                        <stop  offset="1" style="stop-color:#7B4396"/>
                    </linearGradient>
                    <circle fill="url(#SVGID_4_)" cx="745.897" cy="617.081" r="155"/>
                    <linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse" x1="63.6724" y1="281.3615" x2="938.9666" y2="282.5379">
                        <stop  offset="0" style="stop-color:#DC2530"/>
                        <stop  offset="1" style="stop-color:#7B4396"/>
                    </linearGradient>
                    <rect x="449.477" y="252.081" fill="url(#SVGID_5_)" width="296.421" height="59.996"/>
                    <linearGradient id="SVGID_6_" gradientUnits="userSpaceOnUse" x1="63.0542" y1="741.3531" x2="938.3483" y2="742.5295">
                        <stop  offset="0" style="stop-color:#DC2530"/>
                        <stop  offset="1" style="stop-color:#7B4396"/>
                    </linearGradient>
                    <rect x="458.059" y="712.085" fill="url(#SVGID_6_)" width="296.421" height="59.996"/>
                    <circle fill-rule="evenodd" clip-rule="evenodd" cx="732.977" cy="379.919" r="68"/>
                    <circle fill-rule="evenodd" clip-rule="evenodd" cx="745.897" cy="627.079" r="85"/>
                    <rect x="556.312" y="542.077" fill-rule="evenodd" clip-rule="evenodd" width="189.586" height="170.008"/>
                    <rect x="449.477" y="311.919" fill-rule="evenodd" clip-rule="evenodd" width="285.34" height="136"/>
                    <linearGradient id="SVGID_7_" gradientUnits="userSpaceOnUse" x1="63.386" y1="494.4968" x2="938.6801" y2="495.6732">
                        <stop  offset="0" style="stop-color:#DC2530"/>
                        <stop  offset="1" style="stop-color:#7B4396"/>
                    </linearGradient>
                    <rect x="126.729" y="447.919" fill="url(#SVGID_7_)" width="619.169" height="94.159"/>
                    <linearGradient id="SVGID_8_" gradientUnits="userSpaceOnUse" x1="63.3626" y1="511.8525" x2="938.6567" y2="513.029">
                        <stop  offset="0" style="stop-color:#DC2530"/>
                        <stop  offset="1" style="stop-color:#7B4396"/>
                    </linearGradient>
                    <rect x="123.103" y="251.919" fill="url(#SVGID_8_)" width="100" height="520.163"/>
                    <linearGradient id="SVGID_9_" gradientUnits="userSpaceOnUse" x1="63.2315" y1="609.4045" x2="938.5256" y2="610.5809">
                        <stop  offset="0" style="stop-color:#DC2530"/>
                        <stop  offset="1" style="stop-color:#7B4396"/>
                    </linearGradient>
                    <rect x="456.312" y="447.919" fill="url(#SVGID_9_)" width="100" height="324.163"/>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                </svg>
{% endmacro %}